<!DOCTYPE html>
<html>
    <head>
        <title>Room</title>

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style type="text/css">
            #canvas svg {
                height: 800px;
                width: 800px;
                margin: 0 auto;
                margin-top: 50px;
                border: 1px black solid;
            }
        </style>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="../js/raphael-min.js"></script>
    </head>
    <body>
        <h1>Room <span id="urlHeader"></span></h1>
        <p><%= message %></p>
        <hr>
        <p>
            Nickname: <%= nickname %> <br>
            Room URL: <span id="url"></span> <br>
            Board Count: <span id="bcount"></span> <br><br>
            <b>Members</b>
            <ul id="members">

            </ul>

            <b>Moderators</b>
            <ul id="moderators">

            </ul>

            <b>Online</b>
            <ul id="onlineusers">

            </ul>
        </p>

        <div id="canvas"></div>

        <p><a href="/logout">Logout</a></p>

        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io.connect('http://' + window.location.host);
        var roomid = <%= roomid %>;
        var nickname = '<%= nickname %>';
        var boardid = <%= boardid %>;
        var userid = <%= userid %>;
        </script>
        <script src="../js/client.js"></script>
    </body>
</html>
