<!DOCTYPE html>
<html>
  <head>
    <title>Room <%= url %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <h1>Room <%= url %></h1>
    <p><%= message %></p>
    <hr>
    <p>
        Nickname: <%= nickname %> <br>
        Board URL: <%= url %> <br>
        Board Count: <%= bcount %> <br><br>
        <b>Members</b>
        <ul>
            <% for(i = 0; i < members.length; i++) { %>
                <li><%= members[i].nickname %></li>
            <% } %>
        </ul>

        <b>Moderators</b>
        <ul>
            <% for(i = 0; i < moderators.length; i++) { %>
                <li><%= moderators[i].nickname %></li>
            <% } %>
        </ul>

        <b>Online</b>
        <ul id="onlineusers">

        </ul>
    </p>

    <p><a href="/logout">Logout</a></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/room.js"></script>
    <!-- // <script> -->
        <!-- var socket = io.connect('http://' + window.location.host);

        // run once
        socket.on('connect', function() {
            socket.emit('request_memberlist', { roomid: <%= roomid %> });
            socket.emit('adduser', {
                roomid: <%= roomid %>,
                nickname: '<%= nickname %>',
                userid: <%= userid %>
            });
        });

        socket.on('receive_memberlist', function(data) {
            for(var prop in data) {
                console.log('---- ' + prop + ' ---- ' + data[prop]);
                $('#onlineusers').append($('<li id="' + prop + '">').text(data[prop]));
            }
        });

        socket.on('newconnection', function(data) {
            console.log('eeeeeee');
            $('#onlineusers').append($('<li id="' + data.userid + '" %>">').text(data.nickname));
        });

        socket.on('disconnection', function(data) {
            $('#' + data.userid).remove();
            console.log(data.nickname + ' disconnected.');
        }); -->
    <!-- </script> -->
  </body>
</html>
